@charset "utf-8";


/*********************************
	사전정의
**********************************/
html.single:before {display:none !important;}

h1 {display:block; position:relative; font-size:1.5em; background:#1d1d1f; color:#fff; padding:1em;}
.previewWrap {position:relative; padding:20px;}
.admin-preview-box {display:block; position:relative; padding:1em; border:1px solid rgba(0,0,0,.2);}

.previewWrap h2 {display:block; position:relative; font-size:15px; margin-bottom:.6em;}
.previewWrap * ~ h2 {margin-top:1.2em;}

.gnbWrap .link {display:inline-block; position:relative;}
.gnbWrap .icons {display:block; position:relative; width:3em; height:3em; z-index:1;}
.gnbWrap .icons:before {content:""; display:block; position:absolute; z-index:0; top:.1em; left:.1em; right:.1em; bottom:.1em; box-sizing:border-box;}
.gnbWrap .icons > span {display:table; width:100%; height:100%; position:relative; z-index:1;}
.gnbWrap .icons > span > * {display:table-cell; vertical-align:middle; text-align:center;}
.gnbWrap .tooltips {display:block; position:absolute; padding:2px 15px; margin-left:.5em; left:100%; top:50%; white-space:nowrap; transform:translateY(-50%); -webkit=transform:translateY(-50%); }

.admin-preview-box .ui-btn {margin:2px;}

.admin-preview-box input,
.admin-preview-box select,
.admin-preview-box textarea {margin:2px;}