@charset "utf-8";

.freebak-menu {height:100%; margin-left:-20px;}
.freebak-menu .mnu {display:table; width:100%; height:100%; text-align:center;}
.freebak-menu .mnu > * {display:table-cell; vertical-align:middle;}
.freebak-menu .mnu li {position:relative;}
.freebak-menu .mnu li + li {margin-top:15px;}
.freebak-menu .mnu li.line {max-width:25%; margin:20px auto; height:1px; opacity:.2;}


